<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Управление</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-speedometer2"></i>
                <span>Панель управления</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-person"></i>
                <span>Профиль</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-door-open"></i>
                <span>Выйти</span>
            </a>
        </li>

        <li class="nav-heading">Сервисы</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-grid"></i>
                <span>GeoData</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#">
                <i class="bi bi-folder2-open"></i>
                <span>Файловый менеджер</span>
            </a>
        </li>

    </ul>

</aside>